# Breadth First Search (BFS) 
In this notebook, we will use cuGraph to compute the Breadth First Search path from a starting vertex to everyother vertex in our training dataset.

Notebook Credits
* Original Authors: Bradley Rees and James Wyles
* Last Edit: 08/13/2019

RAPIDS Versions: 0.9.0    

Test Hardware

* GV100 32G, CUDA 10.0



## Introduction

As the name implies, BFS traverses the given graph in a breadth first manner. Starting at a specified vertex, the algorithms iteratively searches neighboring vertices.  


@see https://en.wikipedia.org/wiki/Breadth-first_search


To compute BFS in cuGraph use: __bfs(G, start_id)__

* __G__: A cugraph.Graph object
* __start_id__ : the starting vertex ID

Returns:

* __df__: cudf.DataFrame with three names columns:
    * df["vertex"]:   The vertex id.
    * df["distance"]: The distance to the starting vertex
    * df["predecessor"]: The vertex ID of the vertex that was used to reach this vertex


## cuGraph Notice 
The current version of cuGraph has some limitations:

* Vertex IDs need to be 32-bit integers.
* Vertex IDs are expected to be contiguous integers starting from 0.

cuGraph provides the renumber function to mitigate this problem. Input vertex IDs for the renumber function can be either 32-bit or 64-bit integers, can be non-contiguous, and can start from an arbitrary number. The renumber function maps the provided input vertex IDs to 32-bit contiguous integers starting from 0. cuGraph still requires the renumbered vertex IDs to be representable in 32-bit integers. These limitations are being addressed and will be fixed soon.

### Test Data
We will be using the Zachary Karate club dataset 
*W. W. Zachary, An information flow model for conflict and fission in small groups, Journal of
Anthropological Research 33, 452-473 (1977).*


![Karate Club](./img/zachary_black_lines.png)

Our test data is small so that results can be visually verified

In [1]:
# First step is to import the needed libraries
import cugraph
import cudf
from collections import OrderedDict

In [2]:
# define a print path function that take the dataframe and a vertex ID

def print_path(df, id):
    
    # Use the BFS predecessors and distance to trace the path 
    # from vertex id back to the starting vertex ( vertex 1 in this example)
    dist = df['distance'][id]
    lastVert = id
    for i in range(dist):
        nextVert = df['predecessor'][lastVert]
        d = df['distance'][lastVert]
        print("Vertex: " + str(lastVert) + " was reached from vertex " + str(nextVert) + 
        " and distance to start is " + str(d) )
        lastVert = nextVert

# Read the data using cuDF

In [3]:
# Read the data file
datafile='./data/karate-data.csv'

cols = ["src", "dst"]

dtypes = OrderedDict([
        ("src", "int32"), 
        ("dst", "int32")
        ])

gdf = cudf.read_csv(datafile, names=cols, delimiter='\t', dtype=list(dtypes.values()) )

In [4]:
# Let's look at the DataFrame. There should be two columns and 156 records
gdf

     src  dst
0      1    2
1      1    3
2      1    4
3      1    5
4      1    6
5      1    7
6      1    8
7      1    9
8      1   11
9      1   12
10     1   13
11     1   14
12     1   18
13     1   20
14     1   22
15     1   32
16     2    1
17     2    3
18     2    4
19     2    8
20     2   14
21     2   18
22     2   20
23     2   22
24     2   31
25     3    1
26     3    2
27     3    4
28     3    8
29     3    9
..   ...  ...
126   32   34
127   33    3
128   33    9
129   33   15
130   33   16
131   33   19
132   33   21
133   33   23
134   33   24
135   33   30
136   33   31
137   33   32
138   33   34
139   34    9
140   34   10
141   34   14
142   34   15
143   34   16
144   34   19
145   34   20
146   34   21
147   34   23
148   34   24
149   34   27
150   34   28
151   34   29
152   34   30
153   34   31
154   34   32
155   34   33

[156 rows x 2 columns]

In [5]:
# Look at the first few data records - the output should be two colums src and dst
gdf.head().to_pandas()

   src  dst
0    1    2
1    1    3
2    1    4
3    1    5
4    1    6

As you can see in the output, the starting vertex ID is 1.  For the BFS algorithm that is okay.   
cuGraph will add an isolated vertex with an ID of zero.  It will not be reachable from the test dataset

In [6]:
# create a Graph 
G = cugraph.Graph()
G.add_edge_list(gdf["src"], gdf["dst"])

In [7]:
# Call BFS on the graph starting from vertex 1
df = cugraph.bfs(G,1)

In [8]:
# Let's take a looks at the structure of the returned dataframe
df.dtypes

vertex         int32
distance       int32
predecessor    int32
dtype: object

In [9]:
print_path(df, 22)

Vertex: 22 was reached from vertex 1 and distance to start is 1

In [10]:
print_path(df, 30)

Vertex: 30 was reached from vertex 33 and distance to start is 3
Vertex: 33 was reached from vertex 3 and distance to start is 2
Vertex: 3 was reached from vertex 1 and distance to start is 1

### Since we can see in graph illustraion above that vertex 17 is at the edge of the graph, let's run BFS with that as the startring vertex

In [11]:
# Call BFS on the graph starting from vertex 17
df2 = cugraph.bfs(G,17)

In [12]:
# Print the max distance
df2["distance"].max()

2147483647

Notice that max returned an unexpected value.  That is becouse the isoluated vertex, 0, is unreachable.
Whenever a graph contains disjointed components, the distance to the unconnected vertices will always be max_int

In [13]:
df2["distance"][0]

2147483647

In [14]:
# drop all large distances 
exp="distance < 100"
df3 = df2.query(exp)

In [15]:
# Print the max distance
df3["distance"].max()

5

In [16]:
# Print path to vertex 30
print_path(df2, 30)

Vertex: 30 was reached from vertex 33 and distance to start is 5
Vertex: 33 was reached from vertex 3 and distance to start is 4
Vertex: 3 was reached from vertex 1 and distance to start is 3
Vertex: 1 was reached from vertex 6 and distance to start is 2
Vertex: 6 was reached from vertex 17 and distance to start is 1

___
Copyright (c) 2019, NVIDIA CORPORATION.

Licensed under the Apache License, Version 2.0 (the "License");  you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
___